name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build (std)
      run: cargo build --verbose --features=std
    - name: Run tests (std)
      run: cargo test --verbose --features=std
    - name: Build (no-default-features)
      run: cargo build --verbose --no-default-features
    - name: Run tests (no-default-features)
      run: cargo test --verbose --no-default-features
